{% extends 'base.html' %}

{% load static %}


{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3">
				<img src="{% static 'images/banner-bg.jpg' %}" alt="Item 1" width="100%">


			</div>
			

	<h2 class="text-center shadow p-3 m-3 bg-secondary">Products</h2>
	<hr>
	<div class ="row mt-5">

		{% for x in product %}
		
		
		<div class ="col-md-4 mt-3">

			<div class="card shadow" style="width: 18rem;" >
				<img src="{{x.product_image.url}}" class="card-img-top" alt="..."width="250" height="250">
				<div class="card-body">
				  <h5 class="card-title"><a class="lin" href="">{{x.product_name}}</a></h5>
				  
				  <a href="#" class="btn btn-outline-danger "><img src="{% static 'images/cart.png' %}" alt="" width="30" height="30"></a>
				</div>
			  </div>
			 
		  
			
			
		  </div>
		
		{% endfor %}
		</div>


</div>
</div>

{% endblock  %}
